{block content}

{snippet snipForm}
    {form form class => 'ajax'}
        <div n:foreach="$form->errors as $error" class="alert alert-danger">{$error}</div>

        <div class="row" n:if="isset($form['username'])">
            <div class="col-12 col-md-6">
                {label username /}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-at"></i></div>
                    </div>
                    {input username class => 'form-control'}
                </div>
            </div>

            <div class="col-12 col-md-6">
                {label password /}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    {input password class => 'form-control'}
                </div>
            </div>

            <div class="col-12 col-md-6 offset-md-6">
                {label re_password /}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    {input re_password class => 'form-control'}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                {label name /}
                <div class="form-group">
                    {input name class => 'form-control'}
                </div>
            </div>

            <div class="col-12 col-md-6">
                {label surname /}
                <div class="form-group">
                    {input surname class => 'form-control'}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                {label email /}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-fw fa-at"></i></div>
                    </div>
                    {input email class => 'form-control'}
                </div>
            </div>

            <div class="col-12 col-md-6">
                {label phone /}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-fw fa-phone-alt"></i></div>
                    </div>
                    {input phone class => 'form-control'}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8">
                {label address /}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-fw fa-home"></i></div>
                    </div>
                    {input address class => 'form-control'}
                </div>
            </div>

            <div class="col-12 col-md-4">
                {label birthdate /}
                <div class="form-group input-group">
                    {input birthdate class => 'form-control'}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {label facebook /}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fab fa-fw fa-facebook-f"></i></div>
                    </div>
                    {input facebook class => 'form-control'}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {label experience /}
                <div class="form-group input-group">
                    {input experience class => 'form-control'}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {label note /}
                <div class="form-group input-group">
                    {input note class => 'form-control'}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {label roles /}
                <div class="form-group">
                    {input roles class => 'form-control chosen-select',
                        data-chosen-placeholder-text => ('form.user-edit.roles.placeholder'|translate),
                        data-chosen-no-result-text => ('form.user-edit.roles.no-result'|translate)}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group custom-control custom-switch">
                    {input is_active: class => "custom-control-input"}
                    {label is_active: class => "custom-control-label" /}
                </div>
            </div>
        </div>

        {if $isAjax}
            {input send class => 'btn btn-primary w-100 w-lg-auto mb-2',  data-dismiss => 'modal'}
            <button type="button" class="btn btn-light w-100 w-lg-auto mb-2" data-dismiss="modal">Zavřít</button>
        {else}
            {input send class => 'btn btn-primary w-100 w-lg-auto mb-2'}
            {input send_back class => 'btn btn-outline-primary w-100 w-lg-auto mb-2'}
            {input back class => 'btn btn-light w-100 w-lg-auto mb-2'}
        {/if}

        <script n:syntax="double" n:if="isset($form['username'])">
            $('#' + {{$form['username']->getHtmlId()}}).change(function () {
                $('#' + {{$form['email']->getHtmlId()}}).val($(this).val());
            });
        </script>
    {/form}
{/snippet}