@import "chosen";

.inputfile-upload-rfm,
.inputfile-upload-rfm-remove {
  position: absolute;
  right: 12px;
  top: 27px;
  padding: 10px 30px 11px 15px;
}

.inputfile-upload-rfm-remove {
  padding: 11px 30px 11px 15px;
}

.input-group-radius-left {
  border-radius: 10rem 0px 0px 10rem;
  padding: 0.375rem 1rem 0.375rem 1.3rem;
}

.custom-control.small {
  .custom-control-label {
    padding-top: 3px;
  }
}

.form-group {
  position: relative;

  &-table {
    margin-bottom: 0px;
  }
}

.datagrid {
  .form-group {
    margin-bottom: 0.5rem;
  }

  .colorpicker-element {
    .input-group-append {
      margin-top: -3px;

      span {
        height: 28px;
        padding: 6px;
      }
    }
  }
}

.has-error {
  .form-control,
  .form-control:focus {
    border-color: lighten($danger, 5%);
  }

  .input-group-text {
    background-color: lighten($danger, 35%);
    border-color: lighten($danger, 5%);
  }

  &:after {
    content: attr(data-error-msg);

    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 1px 0px -10px 22px;
    padding: 2px 4px 0px 6px;
    display: block;
    width: 100%;

    //background-color: ;
    font-size: 12px;
    color: lighten($danger, 5%);
  }

  &.form-group-table:after {
    margin: 3px 0px 0px 11px;
  }

  &:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f071";

    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    position: absolute;
    padding: 1px 4px;
    left: 5px;
    bottom: -1px;

    //background-color: ;
    font-size: 12px;
    color: lighten($danger, 5%);
  }

  &.form-group-table:before {
    font-size: 12px;
    left: -5px;
    top: 29px;
  }
}

form.user {
  .has-error:before {
    top: 51px;
  }

  .custom-control.custom-switch.has-error {
    &:before {
      top: 26px;
      left: 0px;
    }

    &:after {
      margin: 1px 0px -10px -14px;
    }

    label {
      &:before {
        background-color: #faddda;
        border-color: #ea5f52;
      }

      &:after {
        background-color: #ea5f52;
      }
    }
  }

  .btn-user {
    padding: 0.75rem 1.5rem !important;
  }
}