.card-gallery {
  .card {

    &-header,
    &-footer {
      padding: 0.25rem 0.65rem;
      position: absolute;
      border-width: 0;
      width: 100%;
    }

    &-header {
      transition: all ease-in-out 300ms;
      background-color: transparent;
      padding-top: 0.55rem;
      opacity: 0;
      top: 0px;

      span, a {
        box-shadow: 0px 0px 5px 1px rgba($black, 0.4) !important;
      }

      @include media-breakpoint-down(md) {
        opacity: 0.5;
      }
    }

    &-footer {
      background-color: rgba($primary, 0.4);
      color: $white !important;
      bottom: 0px;
    }
  }

  &:hover {
    .card {
      &-header {
        opacity: 1;
      }

      &-footer {
        background-color: rgba($primary, 0.8);
      }
    }
  }
}