.datagrid {
  padding: 0px;

  table {
    thead tr.row-group-actions th {
      background-color: transparent;
      border-color: transparent;
      padding-right: 0px;

      .datagrid-toolbar {
        margin-top: 0px;
      }
    }

    tbody {
      td.datagrid-inline-edit {
        vertical-align: top;
      }
    }
  }
}

td[data-datagrid-editable-url] {
  position: relative !important;

  &:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f303";

    @extend .text-muted;
    position: absolute;
    font-size: 14px;
    left: 3px;
    top: 1px;
  }
}