.tooltip-inner {
  padding: 0.45rem 0.5rem 0.25rem 0.5rem;
  background-color: #000;
  border-radius: 0.35rem;
  line-height: 12px;
  max-width: 300px;
  font-size: 12px;
  color: #fff;
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  left: 0;
  border-width: 0.4rem 0 0.4rem 0.4rem;
  border-left-color: #000;
}