{block content}
{form form class => 'user'}
    <div n:foreach="$form->errors as $error" class="alert alert-radius alert-danger">{$error}</div>

    <div class="form-group input-group">
        <div class="input-group-prepend">
            <div class="input-group-text input-group-radius-left"><i class="fas fa-at"></i></div>
        </div>
        {input username class => 'form-control form-control-user'}
    </div>

    {input send class => 'btn btn-primary btn-user w-100 w-lg-auto order-1 order-lg-2 float-none float-lg-right'}
    {input log_in class => 'btn w-100 w-lg-auto mt-3 mt-lg-0 btn-user order-2 order-lg-1'}
{/form}