{block csss}
    {control daterangePicker}
    {control cssCustomFileInput}

{/block}

{block scripts}
    {control jsMoment}
    {control jsDaterangePicker}
    {control jsCustomFileInput}
{/block}

{block content}

<div class="row">
    <div class="col-12 mb-4">
        <div class="card shadow">
            <div class="card-body">
                {control formAccount}
            </div>
        </div>
    </div>
</div>