{block content}

{snippet snipForm}
    {form form class => 'ajax'}
        <div n:foreach="$form->errors as $error" class="alert alert-danger">{$error}</div>

        <div class="row">
            <div class="col-12">
                {label current_password /}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-at"></i></div>
                    </div>
                    {input current_password class => 'form-control'}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {label password /}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    {input password class => 'form-control'}
                </div>
            </div>

            <div class="col-12">
                {label re_password /}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    {input re_password class => 'form-control'}
                </div>
            </div>
        </div>

        {input send class => 'btn btn-primary w-100 w-lg-auto mb-2'}
        {input back class => 'btn btn-light w-100 w-lg-auto mb-2'}
    {/form}
{/snippet}