{block content}
{form form class => 'user'}
    <div n:foreach="$form->errors as $error" class="alert alert-radius alert-danger">{$error}</div>

    <div class="form-group input-group">
        <div class="input-group-prepend">
            <div class="input-group-text input-group-radius-left"><i class="fas fa-unlock-alt"></i></div>
        </div>
        {input password class => 'form-control form-control-user'}
    </div>

    <div class="form-group input-group">
        <div class="input-group-prepend">
            <div class="input-group-text input-group-radius-left"><i class="fas fa-unlock-alt"></i></div>
        </div>
        {input re_password class => 'form-control form-control-user'}
    </div>

    {input send class => 'btn btn-primary btn-user w-100'}
{/form}