{block content}

<div class="row">
    <div class="col-12 mb-4">
        <div class="card shadow">
            <div class="card-body">
                {control formSetting}
            </div>
        </div>
    </div>
</div>