{block content}

<div class="row">
    <div class="col-12 mb-4">
        <div class="card shadow">
            <div class="card-body">
                <div class="table-responsive">
                    {control gridRole}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-left-warning shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">{_'role.default.help'}</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <span class="badge badge-primary mb-1 mt-1">{_'resource.all'}</span> - Přístup do každé sekce bez omezení
                    </div>
                    <div class="col-12">
                        <span class="badge badge-primary mr-2 mb-1 mt-1">{_'resource.setting.title'}: {_'read'}</span> - V sekci stránky může číst
                    </div>
                    <div class="col-12">
                        <span class="badge badge-primary mr-2 mb-1 mt-1">{_'resource.setting.title'}: {_'read'}, {_'write'}</span> - V sekci stránky může číst a zapisovat
                    </div>
                    <div class="col-12">
                        <span class="badge badge-primary mr-2 mb-1 mt-1">{_'resource.setting.title'}: {_'delete'}</span> - V sekci stránky může mazat
                    </div>
                    <div class="col-12">
                        <span class="badge badge-primary mr-2 mb-1 mt-1">{_'resource.setting.title'}</span> - V sekci stránky může vše
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>