{block content}

<div class="row">
    <div class="col-12 mb-4">
        <div class="card shadow">
            <div class="card-body">
                <div class="text-center text-danger font-weight-bold">
                    <p>
                        Bohužel nemáte dostatečné oprávnění pro práci v této sekci.
                        <br/>
                        Možná Vám ještě nebyla přidělena potřebná role.
                    </p>

                    <i class="far fa-eye-slash fa-10x fa-pulsing-5 mb-5 mt-5"></i>
                </div>
            </div>
        </div>
    </div>
</div>
