{block content}

<div class="row">
    <div class="col-12 mb-4">
        <div class="card shadow">
            <div class="card-body">
                <div class="text-center text-danger font-weight-bold">
                    <p>
                        Bohužel soubor s hashem <strong>{$hash}</strong> nebyl nalezen.
                    </p>

                    <span class="fa-stack fa-5x fa-pulsing-5 mb-5 mt-5">
                      <i class="fas fa-file fa-stack-2x"></i>
                      <i class="fas fa-question fa-stack-1x pt-4 fa-inverse"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
