{block content}

<div class="row">
    <div class="col-12 mb-4">
        <div class="card shadow">
            <div class="card-body">
                <div class="text-center text-danger font-weight-bold">
                    <p>
                        Bohužel modul <strong>{$class}</strong> nebyl nalezen.
                        <br/>
                        Pokud je adresa správná a nefunguje znovunačtení stránky, kontaktujte administrátora.
                    </p>

                    <i class="fas fa-bug fa-10x fa-pulsing-5 mb-5 mt-5"></i>
                </div>
            </div>
        </div>
    </div>
</div>
