{block content}

<div class="row">
    <div class="col-12 col-md-6">
        <div class="row" n:snippet="snipForm">
            {if $drawForm}
                {form form class => 'w-100 ajax'}

                    <div class="col-12 ">
                        {label image_preview /}
                        <a data-toggle="collapse" href="#" data-target=".image-preview" aria-expanded="false" n:if="$user->getImagePreview()">
                            <i class="fas fa-eye-slash collapse show image-preview position-absolute ml-2 mt-1"></i>
                            <i class="fas fa-eye collapse image-preview position-absolute ml-2 mt-1"></i>
                        </a>
                        <div class="form-group text-primary p-1 js">
                            <div>
                                {input image_preview class => 'inputfile inputfile-2'}
                                <label for="{$form['image_preview']->getHtmlId()}">
                                    <i class="fas fa-fw fa-image mr-1"></i>
                                    <span>{_'form.upload.file-image'}</span>
                                </label>
                            </div>
                            <div class="collapse image-preview" n:if="$user->getImagePreview()">
                                <img n:img="$user->getImagePreview()" class="img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <label>{_'form.account.user-name'}</label>
                        <div class="form-group text-primary p-1">
                            {$user->getUsername()}
                            <span class="badge badge-primary ml-1 mb-1" n:foreach="$user->getRoles() as $role">{$role}</span>
                        </div>
                    </div>

                    <div class="col-12">
                        {label name /}
                        <div class="form-group">
                            {input name class => 'form-control'}
                        </div>
                    </div>

                    <div class="col-12">
                        {label surname /}
                        <div class="form-group">
                            {input surname class => 'form-control'}
                        </div>
                    </div>

                    <div class="col-12">
                        {label email /}
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-fw fa-at"></i></div>
                            </div>
                            {input email class => 'form-control'}
                        </div>
                    </div>

                    <div class="col-12">
                        {label phone /}
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-fw fa-phone-alt"></i></div>
                            </div>
                            {input phone class => 'form-control'}
                        </div>
                    </div>

                    <div class="col-12">
                        {label address /}
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-fw fa-home"></i></div>
                            </div>
                            {input address class => 'form-control'}
                        </div>
                    </div>

                    <div class="col-12">
                        {label birthdate /}
                        <div class="form-group input-group">
                            {input birthdate class => 'form-control'}
                        </div>
                    </div>

                    <div class="col-12">
                        {label facebook /}
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fab fa-fw fa-facebook-f"></i></div>
                            </div>
                            {input facebook class => 'form-control'}
                        </div>
                    </div>

                    <div class="col-12">
                        {label experience /}
                        <div class="form-group input-group">
                            {input experience class => 'form-control'}
                        </div>
                    </div>

                    <div class="col-12">
                        {label note /}
                        <div class="form-group input-group">
                            {input note class => 'form-control'}
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        {input send class => 'btn btn-primary w-100 w-lg-auto mb-2'}
                        {input back class => 'btn btn-light w-100 w-lg-auto mb-2'}
                    </div>
                {/form}
            {else}
                <div class="col-12 mb-2" n:if="$user->getImagePreview()">
                    <img n:img="$user->getImagePreview(), '150x150', 'exact'" class="img-fluid">
                </div>
                <div class="col-12">
                    <label>{_'form.account.user-name'}</label>
                    <div class="form-group text-primary p-1">
                        {$user->getUsername()}
                        <span class="badge badge-primary ml-1 mb-1" n:foreach="$user->getRoles() as $role">{$role}</span>
                    </div>
                </div>
                <div class="col-12">
                    <label>{_'form.account.name'}</label>
                    <div class="form-group text-primary p-1">
                        {$user->getName()}
                    </div>
                </div>
                <div class="col-12">
                    <label>{_'form.account.surname'}</label>
                    <div class="form-group text-primary p-1">
                        {$user->getSurname()}
                    </div>
                </div>
                <div class="col-12">
                    <label>{_'form.account.email'}</label>
                    <div class="form-group p-1">
                        {$user->getEmail()|contact}
                    </div>
                </div>
                <div class="col-12">
                    <label>{_'form.account.phone'}</label>
                    <div class="form-group p-1">
                        {$user->getPhone()|contact}
                    </div>
                </div>
                <div class="col-12" n:if="$user->getAddress()">
                    <label>{_'form.account.address'}</label>
                    <div class="form-group text-primary p-1">
                        <a href="{$user->getAddressLinkToMap()}" target="_blank"><i class="fas fa-fw fa-home"></i> {$user->getAddress()}</a>
                    </div>
                </div>
                <div class="col-12" n:if="$user->getBirthdate()">
                    <label>{_'form.account.birthdate'}</label>
                    <div class="form-group text-primary p-1">
                        {$user->getBirthdate()|date:'d.m.Y'}
                    </div>
                </div>
                <div class="col-12">
                    <label>{_'form.account.facebook'}</label>
                    <div class="form-group p-1">
                        {$user->getFacebook()|contactFB:$user->getFullName()}
                    </div>
                </div>
                <div class="col-12" n:if="$user->getExperience()">
                    <label>{_'form.account.experience'}</label>
                    <div class="form-group text-primary p-1">
                        {$user->getExperience()}
                    </div>
                </div>
                <div class="col-12" n:if="$user->getNote()">
                    <label>{_'form.account.note'}</label>
                    <div class="form-group text-primary p-1">
                        {$user->getNote()}
                    </div>
                </div>

                <div class="col-12" n:if="$allowWrite">
                    <a n:href="edit!" class="btn btn-outline-primary ajax">{_'form.account.update'}</a>
                </div>
            {/if}
        </div>
    </div>

    <div class="col-12 col-md-6" n:snippet="snipFormChangePassword">
        {if $drawForm}
            {control formUserChangePassword:maxWidth}
        {else}
            <div class="row">
                <div class="col-12 text-right" n:if="$allowWrite">
                    <a n:href="changePassword!" class="btn btn-outline-primary ajax">{_'form.account.change-password'}</a>
                </div>
            </div>
        {/if}
    </div>
</div>