{if $settings->googleTagManager}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script n:syntax="double">
        if (saCookies.isEnable('gtm')) {
            var head = document.getElementsByTagName('head')[0];
            var js = document.createElement('script');
            js.setAttribute('async', '');
            js.src = 'https://www.googletagmanager.com/gtag/js?id={{$settings->googleTagManager}}';
            head.appendChild(js);
        }
    </script>

    <script n:syntax="double">
        if (saCookies.isEnable('gtm')) {
            window.dataLayer = window.dataLayer || [];

            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', {{$settings->googleTagManager}});
        }
    </script>
{/if}