{var $appColor = '#84C225'}

<head>
    {control jsCookies}
    {include '_gtag.latte'}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {$seo}

    <!-- theme color -->
    <meta name="theme-color" content="{$appColor}">
    <meta name="msapplication-navbutton-color" content="{$appColor}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{$appColor}">

    <title>
        {if $settings->seo->titleDefault}
            {$settings->seo->titleDefault|stripHtml} {$settings->seo->titleSeparator}
        {else}
            {ifset title}
                {include title|stripHtml} {$settings->seo->titleSeparator}
            {/ifset}
        {/if}
        {$settings->seo->titleWebsite}
    </title>

    {control css}
    {block csss}{/block}
    {control jsHead}

    {ifset $csss}
        {foreach $csss as $css}
            {control $css}
        {/foreach}
    {/ifset}
</head>