<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a n:href=":Front:Homepage:default" class="fas fa-home"></a>
        </li>

        {ifset $breadcrumbs}
            <li class="breadcrumb-item" n:foreach="$breadcrumbs as $breadcrumb">
                <a href="{$breadcrumb['url']}">{$breadcrumb['name']}</a>
            </li>
        {/ifset}

        <li class="breadcrumb-item active">{_$title}</li>
    </ol>
</nav>