<section id="flashmessage" n:if=count($flashes)>
    <div class="container pt-2">
        <div class="row">
            <div class="col-12">
                <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
                    {_$flash->message}
                    <i class="fas fa-fw fa-times text-muted dismiss-alert"></i>
                </div>
            </div>
        </div>
    </div>
</section>