
<footer class="bg-dark text-white">
    <div class="container pt-4 pb-2">

        <div class="row">
            <div class="col-12 col-sm-4 text-center">
                {('error-403')|article:'div.font-weight-bold'}
            </div>

            <div class="col-12 col-sm-4 text-center">
                {('error-404')|article:'div.font-weight-bold'}
            </div>

            <div class="col-12 col-sm-4 text-center">
                {('error-405')|article:'div.font-weight-bold'}
            </div>
        </div>

    </div>
</footer>

<footer>
    <div class="container py-2 small">

        <div class="row">
            <div class="col-12 col-md text-center text-md-left">
                Všechna práva vyhrazena © 2020 {intval(date('Y')) !== 2020 ? sprintf(' - %d', intval(date('Y')))} <a n:href="Homepage:" class="font-weight-bold">DEMO</a>
            </div>

            <div class="col-12 col-md text-center text-md-right mt-2 mt-md-0">
                Vytvořeno <span class="text-primary">♥</span> David Skála
            </div>
        </div>

    </div>
</footer>