<section class="border-bottom border-primary border-width-3 bg-white">
    <div class="container py-3">

        <div class="row">
            <div class="col-4 col-sm d-flex align-items-center">
                <div id="logo-header-box">
                    <a n:href=":Front:Homepage:default">
                        <img src="{$basePath}/_front/style/image/logo.png" alt="Logo" id="logo-header">
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>