{varType Skadmin\MenuSimple\Doctrine\MenuSimple\MenuSimple $menuMain}
{varType Skadmin\MenuSimple\Doctrine\MenuSimpleItem\AMenuSimpleItem $menuItem}

{dump $menuMain}

<nav class="my-4">
    <div class="container py-2">

        <div class="row" n:inner-foreach="$menuMain->getItems(true) as $menuItem">
            <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                <a href="{include #createHref, $menuItem|trim}" {if $menuItem->getTarget()}target="{$menuItem->getTarget()}"{/if}
                   class="nav-link nav-link-{$iterator->odd ? 'odd' : 'even'}">
                    <img n:if="$menuItem->getImagePreview()"
                         n:img="$menuItem->getImagePreview(), '255x320', 'exact', 80"
                            alt="{$menuItem->getName()}"
                            class="img-fluid">

                    <div class="nav-link-body">
                        <span class="h4">{$menuItem->getName()}</span>
                        <br>
                        {$menuItem->getTitle()}
                    </div>
                </a>
            </div>
        </div>
    </div>
</nav>

{define createHref, Skadmin\MenuSimple\Doctrine\MenuSimpleItem\AMenuSimpleItem $menuItem}
    {if $menuItem instanceof Skadmin\MenuSimple\Doctrine\MenuSimpleItem\MenuSimpleItemType\MenuSimpleItemExternal}
        {$menuItem->getValue()}
    {elseif $menuItem instanceof Skadmin\MenuSimple\Doctrine\MenuSimpleItem\MenuSimpleItemType\MenuSimpleItemInternal}
        {link $menuItem->getValue()}
    {elseif $menuItem instanceof Skadmin\MenuSimple\Doctrine\MenuSimpleItem\MenuSimpleItemType\MenuSimpleItemArticle}
        {link :Front:Article: article => $menuItem->getValue()->getWebalize()}
    {else}
        #
    {/if}
{/define}