@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i);
// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "../../../3rd/ublaboo/datagrid.css";
@import "../../../3rd/ublaboo/datagrid-spinners.css";
@import "../../../3rd/fontawesome-5.13.0/css/all.css";
@import "sb-admin-2/variables";
@import "../../../3rd/bootstrap-4.5.0/scss/bootstrap";
@import "sb-admin-2/sb-admin-2";
//
@import "includes/fontawesome";
@import "includes/alert";
@import "includes/form";
@import "includes/gallery";
@import "includes/text";
@import "includes/table";
@import "includes/tooltip";
@import "includes/override";
@import "includes/sidebar";
@import "includes/img";
@import "includes/nav";
@import "includes/btn";

@include media-breakpoint-up(lg) {
  .w-lg-auto {
    width: auto !important;
  }
}

@include media-breakpoint-up(md) {
  .sidebar .nav-item .nav-link {
    padding: 0.4rem 1rem;
  }
}

.login-logo {
  height: 80px;
  @extend .img-fluid;
}

.shadow-sm-hover {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.6) !important;
  }
}

.sa-hover:hover {
  background: rgba(0, 0, 0, 0.04);
}

table.table .input-group.colorpicker-element {
  .input-group-append {
    margin-left: 2px;

    .input-group-text.colorpicker-input-addon {
      height: 28px;
      top: -3px;
    }
  }
}