<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion {isset($_COOKIE['_skadminSidebar']) && $_COOKIE['_skadminSidebar'] === 'true' ? 'toggled'}" id="menu-sidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center mb-3" n:href=":Admin:Homepage:">
        <div class="sidebar-brand-icon rotate-n-15">
            {*<i class="fas fa-laugh-wink"></i>*}
        </div>
        <div class="sidebar-brand-text"><img src="{$basePath}/_admin/style/image/logo-white.svg" alt="Logo" style="height: 60px;"></div>
    </a>

    <!-- Nav Item - Dashboard -->
    <li n:class="nav-item, $presenter->isLinkCurrent('Homepage:*') ? active">
        <a n:class="nav-link, $presenter->isLinkCurrent('Homepage:*') ? active" n:href="Homepage:">
            <i class="fas fa-fw fa-home"></i> <span>{_'homepage.default'}</span>
        </a>
    </li>

    <!-- Heading -->
    <div class="sidebar-heading mt-3" n:if="count($sideMenu)">
        {_'web-content'}
    </div>

    {foreach $sideMenu as $liMenu}
        {if $liMenu instanceOf Nette\Utils\Html}
            {$liMenu}
        {else}
            <li n:class="nav-item, $liMenu->isCurrentLink ? active">
                <a n:class="nav-link, $liMenu->isCurrentLink ? active : collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
                                                                                   aria-controls="collapsePages">
                    {$liMenu->icon} <span>{$liMenu->name}</span>
                </a>
                <div id="collapsePages" n:class="collapse, $liMenu->isCurrentLink ? show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner" n:inner-foreach="$liMenu->items as $link">
                        {$link}
                    </div>
                </div>
            </li>
        {/if}
    {/foreach}

    <!-- Heading -->
    {if $user->isAllowed('user', 'read')
    || $user->isAllowed('role', 'read')
    || $user->isAllowed('setting', 'read')
    || $user->isAllowed('translation', 'read')
    || $user->isAllowed('mailing', 'read')}
        <div class="sidebar-heading mt-3">{_'administration'}</div>
    {/if}

    <li n:class="nav-item, $presenter->isLinkCurrent('User:*') ? active" n:if="$user->isAllowed('user', 'read')">
        <a class="nav-link" n:href="User:"><i class="fas fa-fw fa-users"></i> <span>{_'user.default'}</span></a>
    </li>

    <li n:class="nav-item, $presenter->isLinkCurrent('Role:*') ? active" n:if="$user->isAllowed('role', 'read')">
        <a class="nav-link" n:href="Role:"><i class="fas fa-fw fa-users-cog"></i> <span>{_'role.default'}</span></a>
    </li>

    <li n:class="nav-item, $presenter->isLinkCurrent('Setting:*') ? active" n:if="$user->isAllowed('setting', 'read')">
        <a class="nav-link" n:href="Setting:"><i class="fas fa-fw fa-tools"></i> <span>{_'setting.default'}</span></a>
    </li>

    <li n:class="nav-item, $presenter->isLinkCurrent('Translation:*') ? active" n:if="$user->isAllowed('translation', 'read')">
        <a class="nav-link" n:href="Translation:"><i class="fas fa-fw fa-language"></i> <span>{_'translation.default'}</span></a>
    </li>

    <li n:class="nav-item, ($presenter->isLinkCurrent('Component:default') && get_class($currentPackage) === Skadmin\Mailing\BaseControl::class) ? active" n:if="$user->isAllowed(Skadmin\Mailing\BaseControl::RESOURCE, App\Model\Doctrine\Role\Privilege::READ)">
        <a class="nav-link" n:href="Component:default package => (new Skadmin\Mailing\BaseControl()), render => 'overview'"><i class="fas fa-fw fa-mail-bulk"></i> <span>{_'mail.default'}</span></a>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline mt-4">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>