{block content}
{form form class => 'user'}
    <div n:foreach="$form->errors as $error" class="alert alert-radius alert-danger">{$error}</div>

    <div class="form-group input-group">
        <div class="input-group-prepend" title="{_$form['name']->getCaption()}" data-toggle="tooltip">
            <div class="input-group-text input-group-radius-left"><i class="fas fa-fw fa-user"></i></div>
        </div>
        {input name class => 'form-control form-control-user'}
    </div>

    <div class="form-group input-group">
        <div class="input-group-prepend" title="{_$form['surname']->getCaption()}" data-toggle="tooltip">
            <div class="input-group-text input-group-radius-left"><i class="far fa-fw fa-user"></i></div>
        </div>
        {input surname class => 'form-control form-control-user'}
    </div>

    {* PASS *}
    <h5 class="mt-4">{_'form.registration.section.password'}</h5>
    <div class="form-group input-group">
        <div class="input-group-prepend" title="{_$form['password']->getCaption()}" data-toggle="tooltip">
            <div class="input-group-text input-group-radius-left"><i class="fas fa-fw fa-unlock"></i></div>
        </div>
        {input password class => 'form-control form-control-user'}
    </div>

    <div class="form-group input-group">
        <div class="input-group-prepend" title="{_$form['re_password']->getCaption()}" data-toggle="tooltip">
            <div class="input-group-text input-group-radius-left"><i class="fas fa-fw fa-lock"></i></div>
        </div>
        {input re_password class => 'form-control form-control-user'}
    </div>

    {* NEXT *}
    <h5 class="mt-4">{_'form.registration.section.contact'}</h5>
    <div class="form-group input-group">
        <div class="input-group-prepend" title="{_$form['email']->getCaption()}" data-toggle="tooltip">
            <div class="input-group-text input-group-radius-left"><i class="fas fa-fw fa-at"></i></div>
        </div>
        {input email class => 'form-control form-control-user'}
    </div>

    <div class="form-group input-group">
        <div class="input-group-prepend" title="{_$form['phone']->getCaption()}" data-toggle="tooltip">
            <div class="input-group-text input-group-radius-left"><i class="fas fa-fw fa-phone"></i></div>
        </div>
        {input phone class => 'form-control form-control-user'}
    </div>

    <div class="form-group input-group">
        <div class="input-group-prepend" title="{_$form['facebook']->getCaption()}" data-toggle="tooltip">
            <div class="input-group-text input-group-radius-left"><i class="fab fa-fw fa-facebook-f"></i></div>
        </div>
        {input facebook class => 'form-control form-control-user'}
    </div>

    <div class="form-group input-group">
        <div class="input-group-prepend" title="{_$form['birthdate']->getCaption()}" data-toggle="tooltip">
            <div class="input-group-text input-group-radius-left"><i class="far fa-fw fa-calendar-alt"></i></div>
        </div>
        {input birthdate class => 'form-control form-control-user'}
    </div>

    <div class="form-group input-group">
        <div class="input-group-prepend" title="{_$form['address']->getCaption()}" data-toggle="tooltip">
            <div class="input-group-text input-group-radius-left"><i class="fas fa-fw fa-home"></i></div>
        </div>
        {input address class => 'form-control form-control-user'}
    </div>

    {* CONFIRM *}
    <div class="form-group input-group custom-control custom-switch ml-4">
        {input accept_the_terms: class => "custom-control-input"}
        {label accept_the_terms: class => "custom-control-label" /}
    </div>

    {input send class => 'btn btn-primary btn-user w-100 w-lg-auto order-1 order-lg-2 float-none float-lg-right'}
    {input log_in class => 'btn w-100 w-lg-auto mt-3 mt-lg-0 btn-user order-2 order-lg-1'}
{/form}