{block modalSize}modal-lg{/block}

{block title}{_$title}{/block}

{block content}
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    {block modal}
                        {control formUserChangePassword}
                    {/block}
                </div>
            </div>
        </div>
    </div>
{/block}