{block csss}
    {control daterangePicker}
{/block}

{block scripts}
    {control jsMoment}
    {control jsDaterangePicker}
{/block}

{block content}

<div class="row">

    <div class="col-12 mb-4">
        <div class="card shadow">
            <div class="card-body">
                <div class="table-responsive" n:snippet="snipGridUser">
                    {control gridUser}
                </div>
            </div>
        </div>
    </div>

</div>