{block title}{_$title}{/block}

{block content}
<div class="row">
    <div class="col-12 col-xl-6" n:foreach="$users as $_user">
        <div class="card shadow mb-4">

            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    <i class="fas fa-user"></i> {$_user->getFullNameReverse()}
                </h6>
            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col-3 text-center" n:if="$_user->getImagePreview()">
                        <img n:img="$_user->getImagePreview(), '150x150', 'exact'" class="img-fluid">
                    </div>

                    <div class="col-{$_user->getImagePreview() ? 9 : 12}">
                        <div class="row" n:if="$_user->getEmail()">
                            <div class="col-5">{_'user.overview.email'}</div>
                            <div class="col-7">
                                {$_user->getEmail()|contact}
                            </div>
                        </div>

                        <div class="row" n:if="$_user->getPhone()">
                            <div class="col-5">{_'user.overview.phone'}</div>
                            <div class="col-7">
                                {$_user->getPhone()|contact}
                            </div>
                        </div>

                        <div class="row" n:if="$_user->getFacebook()">
                            <div class="col-5">{_'user.overview.facebook'}</div>
                            <div class="col-7">
                                {$_user->getFacebook()|contactFB:$_user->getFullName()}
                            </div>
                        </div>

                        <div class="row" n:if="$_user->getFacebook()">
                            <div class="col-12 mt-3">
                                {$_user->getNote()}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
