.file-icon-60x60 {
  width: 60px;
  height: 60px;

  &:after {
    content: '';

    background-image: url(/_front/style/image/file-types/file.svg);
    background-repeat: no-repeat;
    background-position: center;

    display: block;
    height: 60px;
    width: 60px;

    opacity: 0.75;
  }

  &[data-file-type$="/pdf"]:after {
    background-image: url(/_front/style/image/file-types/file-pdf.svg);
  }

  &[data-file-type^="text/"]:after {
    background-image: url(/_front/style/image/file-types/file-contract.svg);
  }

  &[data-file-type^="image/"]:after {
    background-image: url(/_front/style/image/file-types/file-image.svg);
  }

  &[data-file-type^="video/"]:after {
    background-image: url(/_front/style/image/file-types/file-video.svg);
  }

  &[data-file-type^="audio/"]:after {
    background-image: url(/_front/style/image/file-types/file-audio.svg);
  }

  &[data-file-type$="/x-bzip"],
  &[data-file-type$="/x-bzip2"],
  &[data-file-type$="/gzip"],
  &[data-file-type$="/vnd.rar"],
  &[data-file-type$="/x-tar"],
  &[data-file-type$="/zip"],
  &[data-file-type$="/x-7z-compressed"] {
    &:after {
      background-image: url(/_front/style/image/file-types/file-archive.svg);
    }
  }

  &[data-file-type$="/msword"],
  &[data-file-type$="/vnd.openxmlformats-officedocument.wordprocessingml.document"] {
    &:after {
      background-image: url(/_front/style/image/file-types/file-word.svg);
    }
  }

  &[data-file-type$="/vnd.ms-excel"],
  &[data-file-type$="/vnd.openxmlformats-officedocument.spreadsheetml.sheet"] {
    &:after {
      background-image: url(/_front/style/image/file-types/file-excel.svg);
    }
  }

  &[data-file-type$="/vnd.ms-powerpoint"],
  &[data-file-type$="/vnd.openxmlformats-officedocument.presentationml.presentation"] {
    &:after {
      background-image: url(/_front/style/image/file-types/file-powerpoint.svg);
    }
  }
}
