<div class="col-12" n:if="$item->getAddress()">
    <label>{_'form.account.address'}</label>
    <div class="form-group text-primary p-1">
        <a href="{$item->getAddressLinkToMap()}" target="_blank"><i class="fas fa-fw fa-home"></i> {$item->getAddress()}</a>
    </div>
</div>
<div class="col-12" n:if="$item->getBirthdate()">
    <label>{_'form.account.birthdate'}</label>
    <div class="form-group text-primary p-1">
        {$item->getBirthdate()|date:'d.m.Y'}
    </div>
</div>
<div class="col-12" n:if="$item->getExperience()">
    <label>{_'form.account.experience'}</label>
    <div class="form-group text-primary p-1">
        {$item->getExperience()}
    </div>
</div>
<div class="col-12" n:if="$item->getNote()">
    <label>{_'form.account.note'}</label>
    <div class="form-group text-primary p-1">
        {$item->getNote()}
    </div>
</div>