<!DOCTYPE html>
<html lang="cs">

{include '_block/_head.latte'}

<body id="page-top">

{* flash *}
{snippet snipFlash}
    {include '_block/flashmessage.latte'}
{/snippet}

{* content *}

{* header *}
{include '_block/header.latte'}

<section>
    <div class="container mb-1 py-4">
        <div class="row">
            <div class="col-12 mb-3">
                <h1 n:block="title">Vítejte</h1>
            </div>
        </div>
    </div>
</section>

{* foooter *}
{include '_block/footer.latte'}

{block scripts}{/block}

{ifset $jss}
    {foreach $jss as $js}
        {control $js}
    {/foreach}
{/ifset}
{control jsFoot}
</body>
</html>