<!DOCTYPE html>
<html lang="cs">

{include '_block/_head.latte'}

<body id="page-top">

{* flash *}
{snippet snipFlash}
    {include '_block/flashmessage.latte'}
{/snippet}

{* header *}
{include '_block/header.latte'}

{* content *}
<section class="wad" id="content">
    <div class="container mb-1 pt-3 pb-4">

        {include '_block/breadcrumb.latte'}

        <div class="row">
            <div class="col-12 mb-3">
                <h1 n:block="title">{_$title}</h1>
            </div>
        </div>

        {include content}
    </div>
</section>

{* foooter *}
{include '_block/footer.latte'}

{block scripts}{/block}

{control jsFoot}
</body>
</html>