{varType Nette\Utils\Paginator $paginator}

<div class="row py-3" n:if="$paginator->getPageCount() !== null && $paginator->getPageCount() > 1">
    <div class="col-12 d-flex justify-content-between align-items-center">
        {if ! $paginator->isFirst()}
            {include #link page => $paginator->page - 1, class => 'arrow-icon arrow-icon-white'}
        {else}
            <span class="opacity-25 arrow-icon arrow-icon-white"></span>
        {/if}

        <div>
            <form action="{link changePage!}" method="get" class="ajax d-inline" data-id-length="0" id="{$cName}-">
                <input type="text"
                       name="{$cName}-page"
                       value="{$paginator->page}"
                       data-form-change-link="{link changePage!}"
                       data-form-attr="page"
                       class="text-center d-inline mx-1 wp-50">
            </form>
            / <small>{$paginator->pageCount}</small></div>

        {if ! $paginator->isLast()}
            {include #link page => $paginator->page + 1, class => 'arrow-icon arrow-icon-white arrow-icon-white-right'}
        {else}
            <span class="opacity-25 arrow-icon arrow-icon-white arrow-icon-white-right"></span>
        {/if}
    </div>
</div>

{define #link}
    <div><a n:href="changePage! page => $page" class="ajax {$class}"></a></div>
{/define}