<table style="width: 100%; padding: 20px 15px 15px 15px;">
    <tfoot style="vertical-align: top; ">
    <tr>
        <td colspan="4" style="padding-bottom: 15px; font-weight: bold;">
            Tvorba webových stránek - SkAdmin
        </td>
    </tr>

    <tr>
        <td style="padding-bottom: 8px; white-space: nowrap;">
            Webové stránky:
        </td>
        <td style="padding-bottom: 8px; ">
            <a href="https://www.demo.skadmin.cz" style="color: #335371; font-weight: bold; text-decoration: none;">demo.skadmin.cz</a>
        </td>
    </tr>

    <tr>
        <td style="padding-bottom: 8px;">
            E-mail:
        </td>
        <td style="padding-bottom: 8px; ">
            <a href="mailto:skala2524@gmail.com" style="color: #335371; font-weight: bold; text-decoration: none;">skala2524@gmail.com</a>
        </td>
    </tr>

    </tfoot>
</table>