<table style="width: 100%; padding: 20px 15px 15px 15px; ">
    <thead>
    <tr>
        <td style="text-align: right;">
            <img src="./_front/style/image/logo.png" alt="SkAdmin">
        </td>
    </tr>
    </thead>
</table>