<!DOCTYPE html>
<html>
<head>
    <title>{$title}</title>
</head>
<body style="max-width: 600px; min-width: 300px; margin: 0 auto;">

{include '_header.latte'}

<table style="width: 100%; padding: 15px;">
    <tbody>
    <tr>
        <td>
            {$content|noescape}
        </td>
    </tr>
    </tbody>
</table>

{include '_footer.latte'}

</body>
</html>