.breadcrumb {
  background-color: transparent;
  padding: 0px;

  &-item {
    display: inline-block;

    + .breadcrumb-item::before {
      color: #e5e5e5;
    }

    a:hover {
      border: none;
    }
  }
}