//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
//@import "/_front/style/fonts/stylesheet.css";
//
//$fontFamily: 'Open Sans', sans-serif;
//$fontFamily_Burbank: 'Burbank Big Condensed', 'Open Sans', sans-serif;
//$fontFamily_Dimbo: 'Dimbo', 'Open Sans', sans-serif;
//
//.ff {
//  &-burbank {
//    font-family: $fontFamily_Burbank;
//  }
//
//  &-dimbo {
//    font-family: $fontFamily_Dimbo;
//  }
//}