body::-webkit-scrollbar-track {
  background-color: $white
}

body::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background-color: $white;
}

body::-webkit-scrollbar-thumb {
  background-color: $primary;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .4)), color-stop(.5, transparent), to(transparent))
  //background-color: $secondary;
  //background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, $success), color-stop(.5, transparent), to(transparent))
}
