// transition
@mixin transition25 {
  transition: all ease-in-out 0.25s;
}

@mixin transition50 {
  transition: all ease-in-out 0.50s;
}

// opacity
$opacityMax: 100;
$opacityStep: 5;

@while $opacityMax >= 0 {
  .opacity-#{$opacityMax} {
    opacity: $opacityMax * 1%;
  }

  $opacityMax: $opacityMax - $opacityStep;
}

.opacity-hover {
  @include transition25;

  &:hover {
    opacity: 1;
  }
}

// shadow
.shadow-05 {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

// scale
.scale-075 {
  @include transition50;

  &:hover {
    -moz-transform: scale(1.075);
    -o-transform: scale(1.075);
    -webkit-transform: scale(1.075);
    transform: scale(1.075);
  }
}

// animations
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}