// colors
$primary:   #2a9bf6;
$secondary: #05c3bd;
$success:   #84c225;
$info:      #fda200;
$warning:   #ff6600;
$danger:    #fd006c;
$light:     #e5eef5;

$textColor: #000b2a;
$mainMenuColor: #0974cb;

  // borders

//$dark:          $gray-800 !default;

$theme-colors: (
  //"red-dark": $color-red-dark,
);