.w-auto {
  width: auto !important;
}

@include media-breakpoint-up(lg) {
  .w-lg-auto {
    width: auto !important;
  }
}

@include media-breakpoint-up(md) {
  .w-md-auto {
    width: auto !important;
  }
}

@include media-breakpoint-up(sm) {
  .w-sm-auto {
    width: auto !important;
  }
}

.wp-50 {
  width: 50px;
}