<div class="row">
    <div class="col-12" n:snippet="snipForm">

        {form form}
            <div n:foreach="$form->errors as $error" class="alert alert-danger">{$error}</div>

            <div class="row">

                <div class="col-12 col-md-6">
                    {label name /}
                    <div class="form-group">
                        {input name class => 'form-control'}
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    {label email /}
                    <div class="form-group">
                        {input email class => 'form-control'}
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-12 col-md-6">
                    {label title /}
                    <div class="form-group">
                        {input title class => 'form-control'}
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    {label phone /}
                    <div class="form-group">
                        {input phone class => 'form-control'}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 form-group">
                    {label content /}
                    <div class="form-group">
                        {input content class => 'form-control',  data-tinymce => 'default'}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {input send class => 'btn btn-outline-primary w-100 w-lg-auto mb-2'}
                    <input type="reset" class="btn btn-outline-dark w-100 w-lg-auto mb-2" value="{_'form.contact-form.front.create.reset'}">
                </div>
            </div>
        {/form}

    </div>
</div>