{*
 * @param Paginator $paginator
 * @param array     $steps
 * @param string    $iconPrefix
 *}

{var $link = [$control->getParent(), link]}

<div n:if="$paginator->pageCount > 1">
    {if $paginator->isFirst()}
    <a class="first btn btn-sm btn-outline-primary disabled">
        {else}
        <a class="btn btn-sm btn-outline-primary ajax" href="{$link('page!', ['page' => $paginator->page - 1])}" rel="prev">
            {/if}
            <i n:block = "icon-arrow-left" class="{$iconPrefix}arrow-left"></i> {='ublaboo_datagrid.previous'|translate}</a>

        {foreach $steps as $step}
            {if $step == $paginator->page}
                <a class="first btn btn-sm btn-primary active">{$step}</a>
            {else}
                <a class="btn btn-sm btn-outline-primary ajax" href="{$link('page!', ['page' => $step])}">{$step}</a>
            {/if}

            {if $iterator->nextValue > $step + 1}<span>…</span>{/if}
        {/foreach}

        {if $paginator->isLast()}
        <a class="first btn btn-sm btn-outline-primary disabled">{='ublaboo_datagrid.next'|translate}
            {else}
            <a class="btn btn-sm btn-outline-primary ajax" href="{$link('page!', ['page' => $paginator->page + 1])}" rel="next">{='ublaboo_datagrid.next'|translate}
                {/if}
                <i n:block = "icon-arrow-right" class="{$iconPrefix}arrow-right"></i></a>
</div>
