{**
 * @param Filter                         $filter
 * @param Nette\Forms\Controls\TextInput $input
 *}

{if $outer}
    <div class="row">
        <div class="col-12">
            {label $input class => 'control-label' /}
            {input $input class => 'form-control'}
        </div>
    </div>
{else}
    {input $input}
{/if}
