<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="theme-color" content="#335371">

    <title>{ifset title}{include title|stripHtml} • {/ifset}SkAdmin</title>

    {control css}
    {block csss}{/block}
    {control jsHead}
</head>

{* Pokud chceme přidat k nadpisu podtitul, který v title bude před tak použijeme svistlítko *}
{* Nový rok|Editace článku => Editace článku - Nový rok *}
{define title}
    {var $eTitle = explode('|', ($title|translate))}
    <div class="col-12 text-muted order-1" n:ifset="$eTitle[1]">{$eTitle[1]}</div>
    <span class="d-none" n:ifset="$eTitle[1]">-</span>
    <h1 class="col-12 h3 mb-0 text-primary order-0">{$eTitle[0]}</h1>
{/define}

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {include '_block/sidebar.latte'}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            {snippetArea snipAreaTopbar}
                {include '_block/topbar.latte'}
            {/snippetArea}

            <div class="container-fluid">

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <div>
                        <div class="row">
                            {ifset title}{include title}{/ifset}
                        </div>
                    </div>
                    {ifset #contentBtn}{include contentBtn}{/ifset}
                </div>

                {snippet snipFlash}
                    <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
                        {_$flash->message}
                    </div>
                {/snippet}

                {snippet snipContent}
                    {include content}
                {/snippet}
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; David Skála 2019 - {date('Y')}</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{* modální okno *}
{snippet snipModal}
    {if $presenter->isAjax()}
        {ifset #modal}
            <div class="modal fade" id="main-modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog {ifset #modalSize}{include #modalSize}{/ifset}">
                    <div class="modal-content">
                        <div class="modal-header">
                            {block modalHeader}
                                <div class="modal-title row">
                                   {include #title|replace:'h1':'h3'}
                                </div>
                            {/block}
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            {include #modal}
                        </div>
                        {ifset #modalFooter}
                            <div class="modal-footer">
                                {include #modalFooter}
                            </div>
                        {/ifset}
                    </div>
                </div>
            </div>
        {/ifset}
    {/if}
{/snippet}

{snippet snipModalClose}
    <script n:syntax="double" n:if="$presenter->isAjax()">
        $('#main-modal').modal('hide');
    </script>
{/snippet}

<script n:syntax="double">
    var _cssFront = {{$cssFront}};
</script>
{block scripts}{/block}
{control jsFoot}
</body>
</html>