<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="theme-color" content="#335371">

    <title>{ifset title}{include title|stripHtml} • {/ifset}SkAdmin</title>

    {control css}
    {block csss}{/block}
    {control jsHead}
</head>

<body class="bg-gradient-primary">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col">
                            <div class="p-4 p-sm-5">
                                <div class="row mb-5 text-center">
                                    <div class="col-12 col-lg-6 order-2 order-lg-1 text-lg-left">
                                        <h1 class="h3 text-gray-900 pt-3 mt-3" n:block="title">{_$title}</h1>
                                    </div>
                                    <div class="col-12 col-lg-6 order-1 order-lg-2 text-lg-right">
                                        <img class="login-logo" src="{$basePath}/_admin/style/image/logo.svg" alt="Logo">
                                    </div>
                                </div>

                                {snippet snipFlash}
                                    <div n:foreach="$flashes as $flash" class="alert alert-radius alert-{$flash->type}">
                                        {_$flash->message}
                                    </div>
                                {/snippet}

                                {include content}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{block scripts}

{/block}
{control jsFoot}
</body>
</html>